@(content: Html)(implicit req: RequestHeader)

<!DOCTYPE html>

<html>
    <head>
        <title>Reactive Maps</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

        <meta name="websocketurl" content="@routes.Application.stream("").webSocketURL()"/>

        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.css"))"/>
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap-theme.css"))"/>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")"/>
        <link rel="stylesheet" href="@routes.WebJarAssets.at(WebJarAssets.locate("leaflet.css"))" />

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <script data-main="@routes.Assets.at("javascripts/app.js")" type='text/javascript' src='@routes.WebJarAssets.requirejs'></script>
    </head>
    <body>
        @content
    </body>
</html>
